{{page-title "Finished"}}
<h2>You have answered all questions</h2>
<form  action="http://localhost:8080/PRM_portal/logout">
    Click to Logout: <input class="button" type="submit" value="LogOut" />
</form>